name: Monitoramento de barragens

on:
  schedule:
    - cron: "0 * * * *"   # Executa exatamente de 1 em 1 hora
  workflow_dispatch:        # Botão para rodar manual

jobs:
  executar:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout do repositório
        uses: actions/checkout@v4

      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Instalar dependências
        run: pip install pandas requests

      - name: Executar script principal
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          CHAT_ID: ${{ secrets.CHAT_ID }}
        run: python main.py
